body{
  background-color: #A20000;
  font-size: 12pt;
  font-color: black;
}
p{
  font-size: 24px;
}
p::first-letter{ /*First letter of every paragraph*/
  font-family: 'Courier', cursive;
  font-size: 36px;
  letter-spacing: -.1em;
}
.image-tile{
  position: absolute;
  z-index: -2;
  width: 100%;
  background-attachment: fixed;
}
div {
  background-color: #FFBE55;
  margin: auto;
  width: 60%;
  text-align: center;
}
